.content{
    display: flex;
    margin-top: 30px;
}
.left-products{
    width: 18.333%;
}
.right-products{
    width: 82.222%;
    padding-left: 20px;
}
.head-right{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 5px;
}

.short-by{
    display: flex;
}
.short-by .title-short{
    padding: 0 10px;
}
.short-by .title-short span{
    font-size: 15px;
    color: #888;
}
.short-by select{
    outline: none;
    width: 7em;
    color: #666;

}
.show{
    display: flex;
}
.show .title-show{
    padding: 0 10px;
}
.show .title-show span{
    font-size: 15px;
    color: #888;
}
.show select{
    outline: none;
    width: 7em;
    color: #666;

}
.products_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 25px;
    column-gap: 50px;
    margin-top: 20px;
}
.products_grid{
    position: relative;
    overflow: hidden;
}
.products_img{
    border: 1px solid #dedede;
    height: 265px;
}
.products_img img{
    max-width: 100%;
}
.products_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products_text .item-title{
    padding: 0;
    font-size: 14px;
    margin-bottom: 3px;
    overflow: hidden;
}
.item-title a{
    color: #333;
    font-weight: 500;
}

.price-box .price1{
    font-size: 16px;
    color: #222;
    font-weight: bold;
    margin-right: 3px;
}
.price-box .price2{
    font-size: 13px;
    color: #888;
    text-decoration: line-through;
}
.ico-product.ico-new {
    background: #5492db;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    left: -18px;
    overflow: hidden;
    transform: rotate(-45deg);
}

.ico-label span {
    position: absolute;
    top: 7px;
    height: 15px;
    width: 60px;
    color: #fff;
    z-index: 100;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 15px;
}
 .ico-product.ico-sale {
    background: #e14141;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    right: -15px;
    overflow: hidden;
    transform: rotate(45deg);
}
.action-bot{
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: -45px;
    transform: translateY(-100%);
    width: 100%;
}
.wrap-addTocart {
    transform: translateX(100%);
    transition: all 0.5s ease 0.1s;
}
.btn-cart{
    border: none;
    background-color: #333;
    display: block;
    font-family: inherit;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    font-size: 116.667%;
    line-height: 21px;
    padding: 0px!important;
    text-align: center;
    transition: all 0.25s ease 0s;
    color: #fff;
    height: 45px;
    
}
.btn-cart:hover{
    background-color: #e14141;
    color: #fff;
}
.actions{
    transform: translateX(0px);
    display: table;
    transform: translateX(-100%);
    transition: all 0.5s ease 0.1s;
    width: 100%;

}
.add-to-links{
    display: table-row;
}
.add-to-links li a {
    color: #666;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    height: 35px;

}
.add-to-links li {
    display: table-cell;
    position: relative;
}
.products_grid:hover .wrap-addTocart{
    transform: translateX(0%);

}
.products_grid:hover .actions{
    transform: translateX(0%);
}
.suggest_collection{
    padding-top: 25px;
}
.title_collection h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    
}



@media only screen  and (max-width:1024px ) {
    .products_content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* responsive */
@media only screen  and (max-width:800px) {
    .nav-category li a{
     font-size: 19px;

    }
    .products_content{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media only screen  and (max-width:768px) {
    .nav-category li a{
        font-size: 15px;
   
       }
    .products_content{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media only screen  and (max-width:600px ) {
    .products_content{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}